<?xml version='1.0' encoding='utf-8'?>
<widget id="server.remote.native" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Remote</name>
    <description>A native home automation server remote</description>
    <author email="kcjonson@gmail.com" href="http://kevinjonson.com">Kevin Jonson</author>
    <content src="app.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <hook type="before_build" src="hooks/install" />

    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false"/>

    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
